* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}

@font-face {
  font-family: "graphica";
  src: url(../font/graphica.otf);
}
@font-face {
  font-family: "gobold";
  src: url(../font/gobold.otf);
}
@font-face {
  font-family: "category";
  src: url(../font/gobold2.otf);
}
@font-face {
  font-family: "quest";
  src: url(../font/coolvetica.otf);
}
@font-face {
  font-family: "blocky";
  src: url(../font/blocky.otf);
}
.ff-category {
  font-family: "category";
}

.ff-quest {
  font-family: "quest";
}

.ff-graphica {
  font-family: "graphica";
}

body {
  height: 100%;
  background-image: url(../image/fondo2.jpg);
  background-size: cover;
}

.boton {
  margin-top: 20px;
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  font-family: "category";
}
.boton:hover {
  color: white;
  transform: scale(1.1);
}
.boton__desactivado {
  cursor: default;
  border: 2px solid #6d6d6d;
  color: #6d6d6d;
  background-color: #868686;
}
.boton__desactivado:hover {
  color: #6d6d6d;
  transform: none;
}
.boton__jugar {
  margin-right: 10px;
}
.boton__jugar:hover {
  background-color: #ca0000;
}
.boton__jugar {
  margin-right: 10px;
}
.boton__jugar:hover {
  background-color: #ca0000;
}
.boton__ranking:hover {
  margin-left: 10px;
  background-color: #0024c7;
}
.boton__volver {
  margin-left: 30px;
  top: 0;
  left: 0;
  font-size: 1rem;
  position: absolute;
  padding: 10px 50px;
}
.boton__volver:hover {
  background-color: #0024c7;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
header h1 {
  margin-bottom: 100px;
  font-family: "blocky";
  font-size: 10rem;
  color: white;
}

main {
  width: 100%;
  height: 100%;
}

.modos {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.modos h2 {
  color: white;
  margin-bottom: 20px;
}
.modos .card__content {
  display: flex;
  justify-content: center;
}
.modos .card__modo {
  position: relative;
  width: 240px;
  height: 420px;
  margin: 0px 20px;
  perspective: 1000px;
  filter: grayscale(1);
  cursor: pointer;
}
.modos .card__modo .card__front,
.modos .card__modo .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s ease-out;
  background-color: #242424;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.modos .card__modo .card__front .fondo,
.modos .card__modo .card__back .fondo {
  height: 100%;
  width: 100%;
}
.modos .card__modo .card__front .borde,
.modos .card__modo .card__back .borde {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modos .card__modo .card__front .deco,
.modos .card__modo .card__back .deco {
  position: absolute;
  color: white;
  border: 1px solid white;
  padding: 2px;
  font-size: 1.5rem;
  font-family: "gobold";
}
.modos .card__modo .card__front .deco__top,
.modos .card__modo .card__back .deco__top {
  z-index: 2;
  top: 10%;
}
.modos .card__modo .card__front .deco__bot,
.modos .card__modo .card__back .deco__bot {
  bottom: 10%;
}
.modos .card__modo .card__front .info,
.modos .card__modo .card__back .info {
  color: white;
  margin: 10px;
  transform: translate(0%, 40%);
}
.modos .card__modo .card__back {
  transform: rotateY(180deg);
}
.modos .card__modo:hover .card__front {
  transform: rotateY(180deg);
}
.modos .card__modo:hover .card__back {
  transform: rotateY(360deg);
}
.modos .card__modo:hover {
  filter: none;
}

.categorias {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.categorias h2 {
  color: white;
  margin-bottom: 20px;
}
.categorias .mover {
  width: 70px;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 2;
}
.categorias .mover__right {
  right: 0;
}
.categorias .mover__left {
  left: 0;
}
.categorias .cat__content {
  display: flex;
  margin-left: 300px;
  transition: transform 0.5s;
}
.categorias .cat__content .card__category {
  position: relative;
  width: 240px;
  height: 420px;
  margin: 0px 20px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  filter: grayscale(1);
}
.categorias .cat__content .card__category .fondo {
  height: 100%;
  width: 100%;
}
.categorias .cat__content .card__category .borde {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.categorias .cat__content .card__category .deco {
  position: absolute;
  color: white;
  border: 1px solid white;
  padding: 2px;
  font-size: 1.5rem;
  font-family: "gobold";
}
.categorias .cat__content .card__category .deco__top {
  z-index: 2;
  top: 10%;
}
.categorias .cat__content .card__category .deco__bot {
  bottom: 10%;
}
.categorias .cat__content .card__category:hover {
  filter: none;
}

.juego {
  display: none;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}
.juego .top {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  background-color: rgba(36, 36, 36, 0.3647058824);
  margin-bottom: 20px;
}
.juego .top h2 {
  font-size: 2.5rem;
  color: white;
}
.juego .top .tiempo {
  display: flex;
  align-items: center;
  padding: 10px;
}
.juego .top .tiempo img {
  width: 80px;
}
.juego .top .tiempo p {
  display: inline;
  font-size: 4rem;
  color: white;
}
.juego .top .vida {
  padding: 10px;
}
.juego .cartas {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
}
.juego .cartas .card__game {
  position: relative;
  width: 300px;
  height: 480px;
  margin: 0px 20px;
  perspective: 1000px;
  cursor: pointer;
}
.juego .cartas .card__game .card__front,
.juego .cartas .card__game .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s ease-out;
  background-color: #242424;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.juego .cartas .card__game .card__front .num,
.juego .cartas .card__game .card__back .num {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.juego .cartas .card__game .card__front .num h4,
.juego .cartas .card__game .card__back .num h4 {
  font-size: 1.5rem;
  color: #531bc4;
}
.juego .cartas .card__game .card__front .img__quest,
.juego .cartas .card__game .card__back .img__quest {
  width: 100%;
}
.juego .cartas .card__game .card__front .fondo,
.juego .cartas .card__game .card__back .fondo {
  height: 100%;
  width: 100%;
}
.juego .cartas .card__game .card__front .borde,
.juego .cartas .card__game .card__back .borde {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.juego .cartas .card__game .card__front .deco,
.juego .cartas .card__game .card__back .deco {
  position: absolute;
  color: white;
  border: 1px solid white;
  padding: 2px;
  font-size: 1.5rem;
  font-family: "gobold";
}
.juego .cartas .card__game .card__front .deco__top,
.juego .cartas .card__game .card__back .deco__top {
  z-index: 2;
  top: 10%;
}
.juego .cartas .card__game .card__front .deco__bot,
.juego .cartas .card__game .card__back .deco__bot {
  bottom: 10%;
}
.juego .cartas .card__game .card__front .quest,
.juego .cartas .card__game .card__back .quest {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 150px;
}
.juego .cartas .card__game .card__front .quest h3,
.juego .cartas .card__game .card__back .quest h3 {
  color: #531bc4;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.juego .cartas .card__game .card__front .quest p,
.juego .cartas .card__game .card__back .quest p {
  font-size: 1.2rem;
}
.juego .cartas .card__game .card__back {
  transform: rotateY(180deg);
}
.juego .cartas .card__game:hover .card__front {
  transform: rotateY(180deg);
}
.juego .cartas .card__game:hover .card__back {
  transform: rotateY(360deg);
}
.juego .opciones .opcion {
  display: flex;
  align-items: center;
  width: 500px;
  margin: 30px 10px;
}
.juego .opciones .opcion i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #531bc4;
  width: 100px;
  height: 80px;
  font-size: 4rem;
  border-radius: 100%;
  margin-right: 10px;
}
.juego .opciones .opcion button {
  cursor: pointer;
  font-size: 1rem;
  height: 50px;
  width: 500px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
.juego .opciones .opcion button:hover {
  border: 3px solid #242424;
}

.heart {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
