* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

@font-face {
    font-family: "graphica";
    src: url(../font/graphica.otf);
}

@font-face {
    font-family: "gobold";
    src: url(../font/gobold.otf);
}

@font-face {
    font-family: "category";
    src: url(../font/gobold2.otf);
}

@font-face {
    font-family: "quest";
    src: url(../font/coolvetica.otf);
}

@font-face {
    font-family: "blocky";
    src: url(../font/blocky.otf);
}

// blocky, gobold2
// coolvetica

.ff-category {
    font-family: 'category';
}

.ff-quest {
    font-family: 'quest';
}

.ff-graphica {
    font-family: 'graphica';
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../image/fondo2.jpg);
    overflow: hidden;
}

.boton {
    cursor: default;
    border: 2px solid #6d6d6d;
    color: #6d6d6d;
    background-color: #868686;
    padding: 10px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'category';

    &__active {
        cursor: pointer;
        border: 2px solid #ffffff;
        color: #242424;
        background-color: #ffffff;

        &:hover {
            color: white;
            transform: scale(1.1);
        }
    }

    &__inicio {
        padding: 20px 60px;
        margin: 20px;
    }

    &__volver {
        position: absolute;
        left: 0;
        padding: 5px 40px;
        margin-left: 20px;
    }

    &__blue:hover {
        background-color: #3330ff;
    }

    &__red:hover {
        background-color: #ff3030;
    }
}

header {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

    h1 {
        align-self: end;
        font-family: 'blocky';
        color: white;
        font-size: 12rem;
    }
}

main {
    width: 100%;
    height: 100%;
}

.modos {
    display: none;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: white;
            ;
        }
    }

    .card__content {
        display: flex;
        justify-content: center;

        .card__modo {
            position: relative;
            width: 240px;
            height: 420px;
            margin: 0px 20px;
            perspective: 1000px;
            filter: grayscale(1);
            cursor: pointer;

            .card__front,
            .card__back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transition: transform 1s ease-out;
                background-color: #242424;
                display: flex;
                justify-content: center;
                border-radius: 10px;
                overflow: hidden;

                .fondo {
                    height: 100%;
                    width: 100%;
                }

                .borde {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .deco {
                    position: absolute;
                    color: white;
                    border: 1px solid white;
                    padding: 2px;
                    font-size: 1.5rem;
                    font-family: 'gobold';

                    &__top {
                        z-index: 2;
                        top: 10%;
                    }

                    &__bot {
                        bottom: 10%;
                    }
                }

                .info {
                    color: white;
                    margin: 10px;
                    transform: translate(0%, 40%);
                }
            }

            .card__back {
                transform: rotateY(180deg);
            }

            &:hover .card__front {
                transform: rotateY(180deg);
            }

            &:hover .card__back {
                transform: rotateY(360deg);
            }

            &:hover {
                filter: none;
            }
        }
    }

    .boton__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.categorias {
    display: none;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: white;
            ;
        }
    }

    .mover {
        width: 70px;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 2;

        &__right {
            right: 0;
        }

        &__left {
            left: 0;
        }
    }

    .carousel-container {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .carousel-nav {
        z-index: 5;
        width: 50px;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .carousel-nav-left {
        left: 0;
    }

    .carousel-nav-right {
        right: 0;
    }

    .carousel {
        white-space: nowrap;
        font-size: 0;
    }

    .card__category {
        position: relative;
        width: 240px;
        height: 420px;
        margin: 0px 20px;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        justify-content: center;
        filter: grayscale(1);

        .fondo {
            height: 100%;
            width: 100%;
        }

        .borde {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .deco {
            position: absolute;
            color: white;
            border: 1px solid white;
            padding: 2px;
            font-size: 1.5rem;
            font-family: 'gobold';
            left: 50%;
            transform: translateX(-50%);

            &__top {
                z-index: 2;
                top: 10%;
            }

            &__bot {
                bottom: 10%;
            }
        }

        &:hover {
            filter: none;
        }
    }

    .bot {
        margin-top: 20px;
        text-align: center;
    }
}

.juego {
    height: 100%;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .top {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: span 2;
        background-color: #2424245d;
        margin-bottom: 20px;

        h2 {
            font-size: 2.5rem;
            color: white;
        }

        .tiempo {
            display: flex;
            align-items: center;
            padding: 10px;

            img {
                width: 80px;
            }

            p {
                display: inline;
                font-size: 4rem;
                color: white;
            }
        }

        .vida {
            padding: 10px;
            opacity: 0;
        }
    }

    .card__game {
        justify-self: center;
        position: relative;
        width: 300px;
        height: 480px;
        margin: 0px 20px;
        perspective: 1000px;
        justify-content: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;

        .num {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                font-size: 1.5rem;
                color: #531bc4;
            }
        }

        .img__quest {
            width: 100%;
            height: 350px;
        }

        .fondo {
            height: 100%;
            width: 100%;
        }

        .borde {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .deco {
            position: absolute;
            color: white;
            border: 1px solid white;
            padding: 2px;
            font-size: 1.5rem;
            font-family: 'gobold';

            &__top {
                z-index: 2;
                top: 10%;
            }

            &__bot {
                bottom: 10%;
            }
        }

        .quest {
            position: absolute;
            text-align: center;
            bottom: 0;
            height: 150px;

            p {
                font-size: 1.2rem;
            }
        }
    }

    .opciones {
        justify-self: center;
        align-self: center;
        margin-top: 50px;

        &__content {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 70px;

            i {
                position: absolute;
                left: -85px;
                color: white;
                font-size: 4rem;
                margin-right: 10px;
                background-color: #531bc4;
                padding: 15px 20px;
                border: 1px solid white;
                border-radius: 100%;
            }

            button {
                font-size: 1rem;
                width: 600px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid white;
                cursor: pointer;

                &:hover {
                    background-color: #531bc4;
                    color: white;
                }
            }
        }
    }
}

.swal2-popup {
    /* width: 300em;
    height: 35em; */
}

.custom-class {
    .swal2-title {
        color: #531bc4;
        font-family: 'category';
        height: 50px;
    }

    .swal2-popup {
        width: 1000px;
    }
}

.puntaje__linea {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    &__nombre {
        font-size: 1.5rem;
        margin-right: 10px;
    }

    &__dato {
        color: #531bc4;
        font-size: 1.5rem;
    }
}

.tabla {
    height: 80%;

    .linea {
        display: grid;
        grid-template-columns: 20% 20% 40% 10% 10%;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #74747469;

        p {
            margin: 10px 0px;
            font-family: 'category';
        }

        &__base {
            p {
                color: #ff3030;
            }
        }
    }

    .linea__jugador {
        p {
            margin: 10px 0px;
        }
    }
}

.heart {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* $card: #531bc4;

body {
    height: 100vh;
    background-image: url(../image/fondo2.jpg);
    background-size: cover;
}

.boton {
    cursor: default;
    border: 2px solid #6d6d6d;
    color: #6d6d6d;
    background-color: #868686;
    padding: 10px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'category';

    &__active {
        cursor: pointer;
        border: 2px solid #ffffff;
        color: #242424;
        background-color: #ffffff;
        &:hover {
            color: white;
            transform: scale(1.1);
        }
    }

    &__inicio {
        padding: 20px 60px;
        margin: 20px;
    }

    &__volver {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 40px;
        margin-left: 20px;
    }

    &__blue:hover {
        background-color: #3330ff;
    }

    &__red:hover {
        background-color: #ff3030;
    }
}

header {
    display: none;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        bottom: 0;
        font-family: 'blocky';
        font-size: 10rem;
        color: white;
    }

    .boton__content {
        text-align: center;
    }
}

main {
    width: 100%;
    height: 100%;
}

.modos {
    display: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    .top {
        position: relative;
    }

    h2 {
        color: white;
        margin: 20px;
    }

    .card__content {
        display: flex;
        justify-content: center;
    }

    .card__modo {
        position: relative;
        width: 240px;
        height: 420px;
        margin: 0px 20px;
        perspective: 1000px;
        filter: grayscale(1);
        cursor: pointer;

        .card__front,
        .card__back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: transform 1s ease-out;
            background-color: #242424;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;

            .fondo {
                height: 100%;
                width: 100%;
            }

            .borde {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .deco {
                position: absolute;
                color: white;
                border: 1px solid white;
                padding: 2px;
                font-size: 1.5rem;
                font-family: 'gobold';

                &__top {
                    z-index: 2;
                    top: 10%;
                }

                &__bot {
                    bottom: 10%;
                }
            }

            .info {
                color: white;
                margin: 10px;
                transform: translate(0%, 40%);
            }
        }

        .card__back {
            transform: rotateY(180deg);
        }

        &:hover .card__front {
            transform: rotateY(180deg);
        }

        &:hover .card__back {
            transform: rotateY(360deg);
        }

        &:hover {
            filter: none;
        }
    }

    .boton__content {
        text-align: center;
        margin-bottom: 20px;
    }
}

.categorias {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        text-align: center;

        h2 {
            color: white;
            margin-bottom: 20px;
        }
    }

    .mover {
        width: 70px;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 2;

        &__right {
            right: 0;
        }

        &__left {
            left: 0;
        }
    }



    .cat__content {
        display: flex;
        width: 100%;
        transition: transform 0.5s;

        .card__category {
            position: relative;
            width: 240px;
            height: 420px;
            margin: 0px 20px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            filter: grayscale(1);

            .fondo {
                height: 100%;
                width: 100%;
            }

            .borde {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .deco {
                position: absolute;
                color: white;
                border: 1px solid white;
                padding: 2px;
                font-size: 1.5rem;
                font-family: 'gobold';

                &__top {
                    z-index: 2;
                    top: 10%;
                }

                &__bot {
                    bottom: 10%;
                }
            }

            &:hover {
                filter: none;
            }
        }
    }

    .bot {
        margin-top: 20px;
        width: 100vw;
        text-align: center;
    }
}

.juego {
    display: none;
    grid-template-columns: 50% 50%;
    overflow: hidden;

    .top {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: span 2;
        background-color: #2424245d;
        margin-bottom: 20px;

        h2 {
            font-size: 2.5rem;
            color: white;
        }

        .tiempo {
            display: flex;
            align-items: center;
            padding: 10px;

            img {
                width: 80px;
            }

            p {
                display: inline;
                font-size: 4rem;
                color: white;
            }
        }

        .vida {
            padding: 10px;
        }
    }

    .cartas {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 100px;

        .card__game {
            position: relative;
            width: 300px;
            height: 480px;
            margin: 0px 20px;
            perspective: 1000px;
            cursor: pointer;

            .card__front,
            .card__back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transition: transform 1s ease-out;
                background-color: #242424;
                display: flex;
                justify-content: center;
                border-radius: 10px;
                overflow: hidden;

                .num {
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    top: 0;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h4 {
                        font-size: 1.5rem;
                        color: #531bc4;
                    }
                }

                .img__quest {
                    width: 100%;
                }

                .fondo {
                    height: 100%;
                    width: 100%;
                }

                .borde {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .deco {
                    position: absolute;
                    color: white;
                    border: 1px solid white;
                    padding: 2px;
                    font-size: 1.5rem;
                    font-family: 'gobold';

                    &__top {
                        z-index: 2;
                        top: 10%;
                    }

                    &__bot {
                        bottom: 10%;
                    }
                }

                .quest {
                    position: absolute;
                    text-align: center;
                    bottom: 0;
                    height: 150px;

                    h3 {
                        color: #531bc4;
                        margin-bottom: 15px;
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
            }

            .card__back {
                transform: rotateY(180deg);
            }

            &:hover .card__front {
                transform: rotateY(180deg);
            }

            &:hover .card__back {
                transform: rotateY(360deg);
            }
        }
    }

    .opciones {
        .opcion {
            display: flex;
            align-items: center;
            width: 500px;
            margin: 30px 10px;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: #531bc4;
                width: 100px;
                height: 80px;
                font-size: 4rem;
                border-radius: 100%;
                margin-right: 10px;
            }

            button {
                cursor: pointer;
                font-size: 1rem;
                height: 50px;
                width: 500px;
                padding: 10px;
                background-color: #ffffff;
                border-radius: 10px;

                &:hover {
                    border: 3px solid #242424
                }
            }
        }
    }
}

.heart {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
} */